/* pre.css */

/* Styling for Preview Pages */
.preview-page {
    background-color: #ffffff;
    border: 1px solid #dddddd;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;  /* Add border-radius for rounded corners */

}

/* Styling for Images in Preview Pages */
.preview-page img {
    max-width: 40%;
    max-height: 200px;
    margin-top: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    border-radius: 4px; /* Add border-radius for rounded corners */
}

/* Styling for Book Pages */


/* Styling for Text in Book Pages */
.book-page p {
    margin-bottom: 10px;
    color: #333333; /* Adjust text color for better readability */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Set font family to solid font */
}

/* Styling for Titles */
.title {
    font-size: 24px;
    font-weight: bold;
}

/* Styling for Labels */
.label {
    font-size: 16px;
    font-weight: bold;
    color: #555555; /* Adjust label color */
}
.remove-button {
    background-color: #ff0000;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    margin-top: 5px;
    cursor: pointer;
  }
  
  .cover-container {
    position: relative;
    display: inline-block;
  }
  
  .remove-button:hover {
    background-color: #cc0000;
  }