/* Reset default margin and padding */
html, body {
  margin: 0;
  padding: 0;
}

/* Set global font properties */
body {
  font-family: Arial, sans-serif;
  
}

/* Center the entire app vertically and horizontally */
.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

}

/* Styling for the main heading */
h1 {
  font-size: 36px;
  margin-top:1px;
 
}

/* Style for labels */
label {
  font-size: 20px;
  margin-bottom: 20px;
 

}

/* Style for text inputs */
.TextInput input {
  width: 100%;
  padding: 8px;
  margin-bottom: 20px;
  border: 5px solid #ccc;
  border-radius: 5px;
}

/* Style for the button */
.generate-pdf-button {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 9999; /* Ensure it's above other content */
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.generate-pdf-button:hover {
  background-color: #0056b3;
}

/* Error handling */
.error-message {
  color: red;
  margin-top: 10px;
}

/* Styles for the flex container */
.flex-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

/* Styles for half-width elements */
.half-width {
  width: calc(50% - 10px); /* Adjust for margin */
}

/* Style for image upload components */
.ImageUpload {
  margin-bottom: 20px;
}

/* Add any other specific component styles here */

/* Media query for responsiveness */
@media (max-width: 768px) {
  .flex-container {
    flex-direction: column;
  }

  .half-width {
    width: 100%;
  }
}
